@{
	ViewData["Title"] = "Home Page";
}


	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	<a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">Assign user Roles</a>
	<a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">View Projects</a>
	<a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">View Assigned Tickets</a>
	<a class="nav-link text-dark" asp-area="" asp-controller="TicketHistories" asp-action="Index">View Ticket Histories</a>
	
	


