@model ZappitBugTracker.Models.Project
@{
	ViewData["Title"] = "Create";
}


<div class="card shadow mb-4 h-100">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Create Project</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<form asp-action="Create" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ImagePath" class="control-label"></label>
						<input asp-for="ImageData" type="file" class="form-control-file" />
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
