@model IEnumerable<ZappitBugTracker.Models.Project>
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> userManager
@inject ZappitBugTracker.services.IBTRolesService rolesService
@inject ZappitBugTracker.services.IBTProjectService projectService
@inject ZappitBugTracker.services.IBTAccessService accessService

@{
	var user = await userManager.GetUserAsync(User);
	var visibleProjects = projectService.ListUserProjectsAsync(user.Id);
	var userId = await userManager.GetUserIdAsync(user);
	ViewData["Title"] = "Index";
}



<div class="card shadow mb-4 h-100">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Your Projects</h6>
	</div>
	<div class="card-body">
		<table class="table" id="projectsTable">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{

					<tr>
						<td>
							<a asp-controller="Tickets" asp-action="ProjectTickets" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>

						</td>
						<td>
							@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
							{
								<a asp-action="AddProjectUsers" asp-route-id="@item.Id">Add Users To Project</a>
							}
							
						</td>
					</tr>
				}


			</tbody>
		</table>
	</div>
</div>